bin
gen
/obj/
/lib-projects/facebook/bin
/lib-projects/facebook/gen
.idea/
build/
/captures
/local.properties
*.iml
.DS_Store
settings_self.gradle
/packages/kwai-pro/bugly/
core/strings-lib/src/main/generated/
*.swp
.gradle/
/unused_result.txt
lack/